<!-- NAVBAR -->
<app-navbar *ngIf="shouldShowLayout()"></app-navbar>

<!-- Welcome Text -->
<!-- <ng-container *ngIf="userName">
  <div class="welcome-banner">
    <h2 class="welcome-text">👋 Hello, {{ userName }}</h2>
  </div>
</ng-container> -->

<!-- Main Content -->
<div class="main-content-container">
  <router-outlet></router-outlet>
</div>

<!-- Footer  -->
 <footer class="app-footer" *ngIf="shouldShowLayout()">
  <p>🚀 Developed by Twinkle Roy</p>
  <p> Contact:twinkleroy7225@gmail.com</p>

</footer> 
